body {
    color: white;
}

a {
    color: white !important;
}

.navbar-custom {
    background-color: #339096;
}

.navbar-nav > li{
    padding-left:20px;
    padding-right:20px;
}

.form-inline {
    border-radius: 33px;
}
