* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    color: #ffff !important;
}

h2 {
    font-weight: 700 !important;
}

/* Navigation bar */

.nav-link {
    color: #ffff;
}

.navbar-custom {
    background-color: #339096;
}

.pages {
    margin-right: 2vw;
}

.navbar-nav > li {
    padding-left: 20px;
    padding-right: 20px;
}

.logo {
    color: white;
    font-weight: 1000;
    letter-spacing: 1px;
}

#search-form input[type=text] {
    border: none;
    background-color: #66A9AF;
}

#search-form input[type=text]:focus {
    border: none;
    background-color: #66A9AF;
}

#search-form input::-webkit-input-placeholder {
    color: white !important;
    font-weight: 500;
}

#search-form .search-form {
    border-radius: 15px !important;
}

.arrow {
    position: absolute;
    margin-left: -40px;
    border: solid #B8D6D9;
    border-width: 0 3px 3px 0;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}


/* Landing page */

main {
    color: #ffff;
}

.checked {
    color: #EDBC0F;
}

#landing-page {
    background-color: #0E1721;
}

.catan {
    width: 80%;
    border-radius: 15px;
}

.game-info {
    margin-left: -10%;
}

.game-info .game-text {
    width: 90%;
    font-size: 15px;
    font-weight: 300;
    text-align: justify;
}

.game-info .more-button {
    margin-top: 5vh;
}

h4 {
    color: #2F848B;
    font-weight: 500 !important;
    font-size: 15px !important;
}

.more-button {
    background-color: #339096;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
}

/* Game pictures box */

.game-box {
    background-color: #1B2D3A;
}

.game-box .game-pic {
    border-radius: 15px;
}

.game-box .game-text {
    padding-top: 3vh;
    text-align: center;
}

.game-box .review-btn {
    font-size: 16px;
    font-weight: 600;
    padding-top: 2vh;
}

.game-box .review-btn .fa-angle-right {
    padding-left: 10px;
}

/* Newsletter */

.newsletter {
    padding: 5vh 10vw 20vh 10vw;
    background-color: #0E1721;
}

.newsletter-text {
    font-weight: 300;
}

.newsletter .search-form {
    border-radius: 10px !important;
}

.newsletter-join input[type=text] {
    border: none;
    background-color: #252D36;
    padding: 3vh 10vw 3vh 1vw;

}

.newsletter-join input[type=text]:focus {
    border: none;
    background-color: #252D36;
}

.newsletter-join input::-webkit-input-placeholder {
    color: #5C6169 !important;
    font-weight: 500;
}

.newsletter .more-button {
    margin-left: 2vw;
}

/* FORMUM */

.to-forum .more-button {
    padding: 10px 40px 10px 40px;
    margin-top: -2vh;
    margin-left: 0;
}

/*Footer*/
footer {
    color: #ffff;
    align-content: center !important;
    padding: 2em;
    background-color: rgba(51,144,150,255);
}
footer #lingid {
    font-weight: bold;
}
footer #lingid * {
    padding: 0 !important;
    margin: 0.2em 0 0 0 !important;
    text-transform: uppercase;
    text-decoration: none;
}
footer #info h2{
    font-weight: bold;
    font-size: 1.2em;
}
#icons svg~svg {
    margin-left: 0.5em;
}


